<div class="diary">
  <div class="diary-chart">
    <%= line_chart @formatted_totals, ytitle: "気分",width: "500px", library: {backgroundColor: "rgb(208, 218, 222)"} %>
  </div>
  <br>
  <div class="diary-contens">
    <div class="playlist-item">
      <h2>今週のあなたにおすすめの音楽</h2>
      <h3><%= @random_playlist_item.snippet.title %></h3>
      <iframe width="500" height="280" class="playlist-item-video" src="https://www.youtube.com/embed/<%= @random_playlist_item.content_details.video_id %>" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="diary-calender col-md-6">
      <%= month_calendar events: @diaries do |date, diaries| %>
        <% unless diaries.empty? %>
          <%= link_to date.day, diary_path(diaries) %>
        <% else %>
          <%= link_to date.day, new_diary_path(date: date) %>

        <% end %>

        <% diaries.each do |diary| %>
          <div>
            <%= link_to diary.text.truncate(5), diary %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
