<p id="notice"><%= notice %></p>

<h1>Diaries</h1>

<%= line_chart Diary.pluck(:start_time, :feeling) %>

<br>

<div class="col-md-8 mx-auto">
  <%= month_calendar events: @diaries do |date, diaries| %>
    <% unless diaries.empty? %>
      <%= link_to date.day, diary_path(diaries) %>
    <% else %>
      <%= link_to date.day, new_diary_path(date: date) %>

    <% end %>

    <% diaries.each do |diary| %>
      <div>
        <%= link_to diary.text.truncate(5), diary %>
      </div>
    <% end %>
  <% end %>
</div>
