<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @diary.text %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @diary.start_time %>
  <%= @diary.created_at %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
