<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @diary.text %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @diary.start_time %>
</p>

<p>
  <strong>Feeling:</strong>
  <% case @diary.feeling %>
    <% when 2 %>
      よかった
    <% when 1 %>
      ふつう
    <% when 0 %>
      わるかった
  <% end %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
