<!DOCTYPE html>
<html>
  <head>
    <title>HealthApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/16220d5f5d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'home/top', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand text-light" href="/">HealthApp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to root_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-house"></i> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to diaries_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-book"></i> 日記
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-door-closed"></i> ログアウト
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-house"></i> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to users_guest_sign_in_path, class: 'nav-link text-light', method: :post do %>
                    <i class="fa-solid fa-door-open"></i> ゲストログイン（閲覧用）
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-door-open"></i> ログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-pen-to-square"></i> 新規登録
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <%= yield %>
  <% if notice.present? || alert.present? %>
  <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <!-- noticeメッセージ -->
        <% if notice %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <!-- alertメッセージ -->
        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // ページ読み込み時にメッセージモーダルを表示する
  $(document).ready(function() {
    $('#messageModal').modal('show');
  });
</script>
<% end %>

  </body>
</html>
