<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div id="menu">
          <p><%= link_to "日記", diaries_path, class:"header-link" %></p>
          <p><%= link_to "ログアウト", destroy_user_session_path, class:"header-link", method: :delete %></p>
        </div>
      <% else %>
        <div class="logout-header-links">
          <p><%= link_to "ログイン", new_user_session_path, class:"logout-header-link" %></p>
          <p><%= link_to "新規登録", new_user_registration_path, class:"logout-header-link" %></p>
        </div>
      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
